<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-10 col-lg-6">
      <h1 class="text-center">Know what needs to be done.</h1>
      <p class="text-center">A simple app to get things done, fast!</p>
    </div>
  </div>
</div>


