


<!--  <div class="todo-form">
   <h2 class="new-todo-title">Add a new todo:</h2>
   <%#= simple_form_for todo, remote: true do |f| %>
     <%#= f.input :title, placeholder: 'Code Strike It', label: 'What is your todo\'s title?' %>
     <%#= f.input :deadline, as: :date, html5: true, label: 'What is the deadline?' %>
     <%#= f.hidden_field :status, value: 'pending' %>

     <%#= f.submit 'Add', class: 'button-validation full-width extra-margin' %>
   <%# end %>
 </div>
 -->
